<article>
  <h1>Owl Carousel for Angular</h1>
  <section>
    <h2>Basic</h2>
    <owl-carousel [items]="items" [options]="options"></owl-carousel>
    <div>
      <button (click)="randomizeItems()">Randomize items</button>
      <button (click)="randomizeItemsSize()">Randomize size</button>
    </div>
  </section>
  <section>
    <h2>Custom template</h2>
    <owl-carousel [items]="itemsB" [template]="tpl">
      <ng-template #tpl let-item>
        <div
          class="my-slide"
          [style.background-image]="'url(' + item.url + ')' | safe: 'style'"
        >
          {{ item.title }}
        </div>
      </ng-template>
    </owl-carousel>
  </section>
</article>
