:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}

article {
  width: 800px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
